@using ZavrsniSeminarskiRad.Models.Binding
@using ZavrsniSeminarskiRad.Services.Interfaces

@model ItemBinding
@inject IItemService itemService

@{
    var itemCategory = await itemService.GetItemCategorysAsync();
}



<form action="/Admin/AddItem" method="post" enctype="multipart/form-data">




    <div class="form-group">
        <label asp-for="ItemCategoryId" class="control-label">Odaberi kategoriju</label>
        <select name="ItemCategoryId" class="form-select" aria-label="Default select example">
            @foreach (var item in itemCategory)
            {
                <option value="@item.Id">@item.Title</option>
            }
        </select>
    </div>




    <div class="form-group">
        @Html.LabelFor(x=>x.Title)
        @Html.TextBoxFor(x=> x.Title, new {@class = "form-control" })

    </div>
    <div class="form-group">
        @Html.LabelFor(x=>x.Description)
        @Html.TextBoxFor(x=> x.Description, new {@class = "form-control", Required = true, placeholder="Unesi opis"  })
    </div>
    <div class="form-group">
        @Html.LabelFor(x=>x.Quantity)
        @Html.TextBoxFor(x=> x.Quantity, new {@class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x=>x.Price)
        @Html.TextBoxFor(x=> x.Price, new {@class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x=>x.ProductImgUrl)
        <input type="file" name="ProductImg" class="form-control" required />
    </div>


    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
        <a class="btn btn-primary" href="@Url.Action("ItemAdministration", "Admin")">
            Return<span class='bi bi-arrow-return-left'></span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z" />
            </svg>
        </a>
    </div>

</form>





