@using ZavrsniSeminarskiRad.Models.ViewModels
@model List<ItemViewModel>
@{
    int counter = 1;
}

<table class="table table-striped">
    <thead>
        <div>
            <a class="btn btn-primary" href="@Url.Action("AddItem", "Admin")">Add new product</a>
            <a class="btn btn-primary" href="@Url.Action("AddItemCategory", "Admin")">Add new category</a>
            <a class="btn btn-primary" href="@Url.Action("Index", "Home")">
                Return<span class='bi bi-arrow-return-left'></span>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z" />
                </svg>
            </a>
        </div>
    </thead>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col" class=" col-md-7">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Edit</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@counter</th>
                <td>@item.Title</td>
                <td>@item.Description</td>
                <td>@item.Price</td>
                <td>@item.Quantity</td>
                @*<td> @Html.ActionLink("Edit","UpdateItem","Admin",new {id= item.Id},new {@class = "btn btn-primary"})</td>*@
                <td>
                    @Html.ActionLink("Edit", "UpdateItem", new {  id=item.Id  }) |
                    @Html.ActionLink("Details", "ItemDetails", new {  id=item.Id  }) |
                    @Html.ActionLink("Delete", "DeleteItem", new {  id=item.Id  })
                </td>
            </tr>
            counter++;
        }



    </tbody>
</table>


