@model ZavrsniSeminarskiRad.Models.ViewModels.ItemViewModel

@{
    ViewData["Title"] = "ItemDetails";
}

<h1>ItemDetails</h1>

<div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h4>Item Details</h4>
                <hr />
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Id)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Id)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Title)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Title)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ItemCategory)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ItemCategory.Title)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Quantity)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Quantity)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Price)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Price)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ProductImgUrl)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ProductImgUrl)
                          <img src="" class="rounded float-right" alt="">
                    </dd>

                    <div class="card-footer">
                    </div>
                </dl>
            </div>
        </div>
    </div>
</div>
<div>
    
    @Html.ActionLink("Edit", "UpdateItem", new { id = Model.Id }, new {@class= "btn btn-primary"}) |
    <a class="btn btn-primary" href="@Url.Action("ItemAdministration", "Admin")">
        Return<span class='bi bi-arrow-return-left'></span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z" />
        </svg>
    </a>

</div>
