@using ZavrsniSeminarskiRad.Models.ViewModels
@model List<AppUserViewModel>

@{
    ViewData["Title"] = "Users";
}

<h1>Users</h1>
<p>
    <a class="btn btn-primary" href="@Url.Action("CreateNewUser", "Admin")">Create new</a>
    @*<a class="btn btn-primary" href="@Html.ActionLink("Create new"  , "CreateNewUser", new { /* id=item.PrimaryKey */ })"></a>*@
    <a class="btn btn-primary" href="@Url.Action("Index", "Home")">
        Return<span class='bi bi-arrow-return-left'></span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z" />
        </svg>
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Sourname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].DOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sourname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DOB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>

                    @Html.ActionLink("Edit", "UpdateUser", new {  id=item.Id  },new {@class = "btn btn-primary"}) |
                    @Html.ActionLink("Details", "UserDetails", new {  id=item.Id  },new {@class = "btn btn-success"}) |
                    @Html.ActionLink("Delete", "DeleteUser", new {  id=item.Id  },new {@class = "btn btn-danger"})
                </td>
            </tr>
        }
    </tbody>
</table>
