@model ZavrsniSeminarskiRad.Models.ViewModels.AppUserViewModel

@{
    ViewData["Title"] = "UserDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>UserDetails</h1>

<div>
    <h4>Details on : @Model.Name @Model.Sourname</h4>
    <hr />
    <dl class="row">
        @*<dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Id)
        </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Role)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sourname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sourname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DOB)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DOB)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
    </dl>
</div>
<div>

    @Html.ActionLink("Edit", "UpdateUser", new {  id=Model.Id  },new {@class = "btn btn-primary"}) |
    <a class="btn btn-primary" href="@Url.Action("Users", "Admin")">
        Return<span class='bi bi-arrow-return-left'></span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z" />
        </svg>
    </a>
</div>
